name: Build and Push to ECR

on:
  push:
    branches:
      - main
    
    paths:
      - 'app/backend/**'
      - '.github/workflows/ci.yml'

jobs:
  build:
    name: Build and Push Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and tag Docker image
        working-directory: app/backend
        run: |
          IMAGE_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:latest
          docker build -t $IMAGE_URI .

      - name: Push Docker image to ECR
        run: |
          IMAGE_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:latest
          docker push $IMAGE_URI

      - name: Clean old images from ECR
        run: |
          aws ecr list-images \
            --repository-name ${{ secrets.ECR_REPOSITORY }} \
            --query 'imageIds[?imageTag!=`latest`]' \
            --output json > old_images.json

          if [ -s old_images.json ]; then
            aws ecr batch-delete-image \
              --repository-name ${{ secrets.ECR_REPOSITORY }} \
              --image-ids file://old_images.json
          else
            echo "No old images to delete."
          fi

